.mbylstra-simple-dialog-Backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.mbylstra-simple-dialog-Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 100px);
}
