$bungee-font-family: 'Bungee Hairline', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;

$body-font: $roboto-font-family;
$heading-font: $bungee-font-family;

$yellow: #FFE431;
$dark-grey: #222;
$very-light-grey: #cecece;
$line-color: #3a3a3a;

$body-font-color: $very-light-grey;
$background-color: $dark-grey;
$highlight-color: $yellow;

@mixin flat-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #464646;
  }
  &::-webkit-scrollbar-corner {
    background: #0c0c0c;
  }



}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #464646;
}
::-webkit-scrollbar-corner {
  background: #0c0c0c;
}

a {
  color: $highlight-color;
}

body {
  @include flat-scrollbar();
}
