body {
  margin: 20px;
}

textarea {
  width: 600px;
  height: 300px;
  font-family: monospace;
  border: 2px solid black;
}

button {
  color: white;
  font-weight: bold;
  border: 2px solid black;
  background-color: black;
  padding: 10px;
}


.cm-s-monokai .CodeMirror-linenumber {
    color: #444444;
}


.audio-meter {
  position: relative;
  height: 100px;
  width: 40px;
  background-color: darken(green, 15);

  .audio-meter-bar {
    background-color: green;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

}

.fft-bar-graph {
  margin-top: 5px;
  position: relative;
  height: 100px;
  background-color: darken(green, 15);
  display: inline-block;
  // width: auto;

  .fft-bar-graph-bar {
    background-color: green;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

}



.piano {
  display: flex;
  background-color: black;
  padding: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .piano .white-key {
    background-color: white;
    margin: 1px;
    width: 50px;
    height: 100px;
    border-radius: 0px 0px 4px 4px; }
    .piano .white-key:active, .piano .white-key:hover {
      background-color: #eee;
      height: 99px; }
  .piano .black-key-wrapper {
    position: relative;
    height: 0px;
    width: 0px; }
  .piano .black-key {
    width: 0px;
    height: 60px;
    width: 20px;
    background-color: black;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    left: -10px; }
    .piano .black-key:active, .piano .black-key:hover {
      background-color: #444;
      height: 59px; }
