@import 'general.scss';

@import 'range-flat-square.scss';
@import 'signup-view.scss';

@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');




body {
  font-family: $body-font;
  background-color: $background-color;
  color: $body-font-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body, #main, .main-wrap {
  height: 100%;
}

.main-wrap {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $heading-font;
  font-weight: normal;
  font-size: 30px;
  margin: 10px 0px;
}

.main-header {
  padding: 0px 10px;
  border-bottom: 1px solid #3a3a3a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    color: $body-font-color;
    margin-right: 30px;
  }
}

.main-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 40px;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.main-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.code-editor-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: black;
  max-width: 1100px;

  .code-editor {
    // background-color: pink;
    flex-grow: 1;
    // display: flex;
    // flex-direction: column;
  }
  .CodeMirror {
    // flex-grow: 1;
  }

  .code-editor-buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      margin-left: 30px;
    }

    select {
      border: 1px solid $body-font-color;
      background-color: black;
      color: $body-font-color;
      font-family: $body-font;
      font-size: 20px;
      height: 41px;
      &:focus {
        outline: 0;
      }
    }
    label {
      margin-right: 10px;
      margin-left: 20px;
    }
    .spinner-holder {
      width: 60px;
    }

  }
}

button, .save-button {
  border: 1px solid $body-font-color;
  background-color: black;
  color: $body-font-color;
  font-family: $body-font;
  font-size: 20px;
  line-height: 27px;
  padding: 5px 10px;
  &:focus {
    outline: 0;
  }
  // line-height: 30px;
  // vertical-align: middle;

  &:hover {
    background-color: $body-font-color;
    color: black;
  }

  span {
    font-size: 10px;
    font-weight: bold;
    // line-height: 30px;
  }
}


.slider-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  max-width: 350px;
}


.CodeMirror-vscrollbar {
  @include flat-vertical-scrollbar();
}

.CodeMirror {
  // height: auto;
  // display: flex;
}

.example {
  display: block;
  // border: 2px solid black;
  color: $body-font-color;
  font-family: $body-font;
  border: 0;
  font-size: 18px;
  background-color: $background-color;
  padding: 10px;
  &:hover {
    // text-decoration: underline;
  }
}

textarea {
  width: 600px;
  height: 300px;
  font-family: monospace;
  border: 2px solid black;
}

// button {
//   color: white;
//   font-weight: bold;
//   border: 2px solid black;
//   background-color: black;
//   padding: 10px;
// }

.main-footer {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}


.cm-s-monokai .CodeMirror-linenumber {
    color: #444444;
}

[type=range] {
  margin-right: 20px;
}


.audio-meter {
  position: relative;
  height: 100px;
  width: 40px;
  background-color: darken(green, 15);

  .audio-meter-bar {
    background-color: green;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

}

.fft-bar-graph {
  margin-top: 5px;
  position: relative;
  height: 100px;
  background-color: darken(green, 15);
  display: inline-block;
  // width: auto;

  .fft-bar-graph-bar {
    background-color: green;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

}



.piano {
  display: flex;
  background-color: black;
  padding: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .piano .white-key {
    background-color: white;
    margin: 1px;
    width: 50px;
    height: 100px;
    border-radius: 0px 0px 4px 4px; }
    .piano .white-key:active, .piano .white-key:hover {
      background-color: #eee;
      height: 99px; }
  .piano .black-key-wrapper {
    position: relative;
    height: 0px;
    width: 0px; }
  .piano .black-key {
    width: 0px;
    height: 60px;
    width: 20px;
    background-color: black;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    left: -10px; }
    .piano .black-key:active, .piano .black-key:hover {
      background-color: #444;
      height: 59px; }



////////////////////////////////////////////////////////////////////////////////
// Google Spinner - from https://codepen.io/jczimm/pen/vEBpoL //////////////////
////////////////////////////////////////////////////////////////////////////////
// $green: #008744;
// $blue: #0057e7;
// $red: #d62d20;
// $yellow: #ffa700;
// $white: #eee;

$green: #CCC;
$blue: #CCC;
$red: #CCC;
$yellow: #CCC;
$white: #CCC;

// scaling... any units
$google-spinner-width: 40px;

.google-spinner {
  position: relative;
  margin: 0px auto;
  width: $google-spinner-width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.google-spinner__circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.google-spinner__path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 5;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Material Design Lite
////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "~material-design-lite/src/menu/_menu.scss";
@import "~material-design-lite/src/button/_button.scss";
@import "~material-design-lite/src/_mixins.scss";

.material-icons {
  @include typo-icon;
}
