.mbylstra-signup-view-backdrop {
  background-color: rgba(255, 255, 255, 0.8);
}

.mbylstra-signup-view-modal-body {
  background-color: $background-color;
}

.mbylstra-signup-view-header h1 {
  margin: 23px 0px 38px 0px;
}

.mbylstra-signup-view-modal p {
  text-align: center;
  margin-top: -13px;
  font-size: 20px;
  margin-bottom: 36px;
}
